BODY {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
P {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
H1 {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
H2 {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
H3 {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
H4 {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
H5 {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
H6 {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
LI {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
TD {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
DD {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
DT {
	FONT-SIZE: 10pt; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
BODY {
	COLOR: #000000; BACKGROUND-COLOR: #ffffff
}
LI {
	LIST-STYLE-IMAGE: none
}
UL {
	LIST-STYLE-IMAGE: none
}
OL {
	LIST-STYLE-IMAGE: none
}
H1 {
	FONT-WEIGHT: bold
}
H2 {
	FONT-WEIGHT: bold
}
H3 {
	FONT-WEIGHT: bold
}
H4 {
	FONT-WEIGHT: bold
}
H5 {
	FONT-WEIGHT: bold
}
H2 {
	COLOR: #ff9900
}
H3 {
	COLOR: #ff9900
}
H5 {
	COLOR: #ff9900
}
H1 {
	FONT-SIZE: 16pt
}
H2 {
	FONT-SIZE: 13pt
}
H3 {
	FONT-SIZE: 12pt
}
H4 {
	MARGIN-TOP: 2px; FONT-SIZE: 10pt; MARGIN-BOTTOM: 0px
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; MARGIN-BOTTOM: 2px
}
H6 {
	FONT-WEIGHT: normal; FONT-SIZE: 65%; COLOR: #626262
}
DD {
	MARGIN-LEFT: 20px
}
PRE {
	PADDING-RIGHT: 5pt; PADDING-LEFT: 5pt; BACKGROUND-IMAGE: url(/images/codebg.gif); PADDING-BOTTOM: 5pt; FONT: 10pt "Courier New", Courier, mono; WIDTH: 100%; PADDING-TOP: 5pt; WHITE-SPACE: pre; BACKGROUND-COLOR: #fbedbb
}
CODE {
	COLOR: #990000; FONT-FAMILY: "Courier New", Courier, mono
}
A:link {
	TEXT-DECORATION: none
}
A:visited {
	TEXT-DECORATION: none
}
A:active {
	TEXT-DECORATION: underline
}
A:hover {
	TEXT-DECORATION: underline
}
.top {
	CURSOR: hand
}
.MenuGroup {
	FONT-WEIGHT: normal; WIDTH: 124px; CURSOR: hand; FONT-FAMILY: Tahoma, Arial, sans-serif; POSITION: relative; TOP: 0px; BACKGROUND-COLOR: #ffcc99
}
.MI {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; WIDTH: 118px; CURSOR: hand; COLOR: black; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: #ffcc99
}
.MIs {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; WIDTH: 118px; CURSOR: hand; COLOR: black; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: #ffcc99
}
.MIn {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; WIDTH: 118px; CURSOR: hand; COLOR: black; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: #ffcc99
}
.MIsn {
	FONT-WEIGHT: normal; FONT-SIZE: 8pt; WIDTH: 118px; CURSOR: hand; COLOR: black; FONT-FAMILY: Verdana, Arial, sans-serif; BACKGROUND-COLOR: #ffcc99
}
.MI {
	TEXT-DECORATION: none
}
.MIn {
	TEXT-DECORATION: none
}
.MI {
	PADDING-LEFT: 5px; MARGIN-LEFT: 5px
}
.MIs {
	PADDING-LEFT: 5px; MARGIN-LEFT: 5px
}
.MIn {
	PADDING-LEFT: 2px; MARGIN-LEFT: 2px
}
.MIsn {
	PADDING-LEFT: 2px; MARGIN-LEFT: 2px
}
.sidebar {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #ffffff; TEXT-DECORATION: none
}
.infobar {
	FONT-SIZE: 8pt; MARGIN-LEFT: 0pt; TEXT-INDENT: 0pt
}
.infobarList {
	FONT-SIZE: 8pt; MARGIN-LEFT: 1.5em; TEXT-INDENT: -1.5em
}
.InfobarHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; MARGIN-BOTTOM: -10px; COLOR: #ab2600
}
LI.download {
	FONT-SIZE: 9pt; LIST-STYLE-IMAGE: url(/images/download_sm.gif); FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.MainHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 155%; COLOR: black; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
.formButton {
	FONT-WEIGHT: 700; FONT-SIZE: 90%; BORDER-LEFT-COLOR: #fbedbb; BORDER-BOTTOM-COLOR: #fbedbb; COLOR: white; BORDER-TOP-COLOR: #fbedbb; BACKGROUND-COLOR: #e08900; BORDER-RIGHT-COLOR: #fbedbb
}
.SiteNewsHeading {
	FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
.DevNewsHeading {
	FONT-WEIGHT: bold; FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
.SiteNewsHeading {
	FONT-SIZE: 8pt
}
.DevNewsHeading {
	FONT-SIZE: 10.5pt
}
.DevNewsContent {
	FONT-SIZE: 9pt
}
.links {
	FONT: 8pt Verdana, Helvetica, Arial, sans-serif
}
.messagetitle {
	FONT: 8pt Verdana, Helvetica, Arial, sans-serif
}
.SiteNews {
	FONT: 8pt Verdana, Helvetica, Arial, sans-serif
}
.messagecontent {
	FONT: 10pt "Courier New", Courier, mono; WHITE-SPACE: pre
}
.Default {
	FONT-FAMILY: Verdana, Helvetica, Arial, sans-serif
}
.forum_link:link {
	COLOR: #e08900; TEXT-DECORATION: none
}
.forum_link:visited {
	COLOR: #e08900; TEXT-DECORATION: none
}
.forum_link:active {
	COLOR: #e08900; TEXT-DECORATION: none
}
.forum_link:hover {
	COLOR: #e08900; TEXT-DECORATION: underline
}
