
# /
/*.aps
/*.clw
/*.dep
/*.mak
/*.ncb
/*.opt
/*.plg
/Debug
/Release
/phreeqci2.suo
/CLRDebug
/CLRRelease

# /PhreeqciCA/
/PhreeqciCA/obj

# /PhreeqciCA/bin/
/PhreeqciCA/bin/debug
/PhreeqciCA/bin/release

# /SRCDBPG/
/SRCDBPG/Release
/SRCDBPG/ReleaseU
/SRCDBPG/Debug
/SRCDBPG/DebugU
/SRCDBPG/*.clw
/SRCDBPG/*.opt
/SRCDBPG/*.aps
/SRCDBPG/*.plg
/SRCDBPG/*.APS

# /build/
/build/*.bz2
/build/*.gz
/build/*.log
/build/*.tstamp
/build/phreeqci-*.sh
/build/phreeqci-*.patch

# /fs-031-02/
/fs-031-02/*.chm

# /hlp/
/hlp/*.GID
/hlp/*.HLP
/hlp/*.ph
/hlp/*.LOG

# /msi/
/msi/bin
/msi/obj
