<?xml version="1.0" encoding="UTF-8"?>

<?include Version.wxi?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

  <!-- product -->
	<Product Id="*"
           Name="$(var.FullName)"
           Language="1033"
           Version="$(var.Version)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeGuid)">

    <!-- package -->
    <?if $(sys.BUILDARCH)=x64 ?>
    <Package InstallerVersion="400" Compressed="yes" Platform="x64"/>
    <?else?>
    <Package InstallerVersion="400" Compressed="yes" Platform="x86"/>
    <?endif?>

    <!-- Prereqs -->
    <PropertyRef Id="IE5_5"/>
    <PropertyRef Id="NETFRAMEWORK20"/>
    <PropertyRef Id="NETFRAMEWORK40FULL"/>
    
    <Condition Message="You must have Administrative rights on this machine to install [ProductName].">
      <![CDATA[Installed OR IE5_5 OR Privileged]]>
    </Condition>
    <Condition Message="[ProductName] requires a Windows NT based OS (Windows 2000 or later, specifically).">
      <![CDATA[VersionNT]]>
    </Condition>
    <Condition Message="[ProductName] requires a Windows NT based OS (Windows 2000 or later, specifically).">
      <![CDATA[VersionNT >= 500]]>
    </Condition>
    <!--
    <Condition Message="This application requires .NET Framework 2.0 (http://www.microsoft.com/en-us/download/details.aspx?id=1639). Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK20]]>
    </Condition>
    -->
    <Condition Message="This application requires .NET Framework 2.0. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR (NETFRAMEWORK20 OR NETFRAMEWORK40FULL)]]>
    </Condition>
    <!--
    This disallows Per-user installation as admin on 64-bit machines
    
    <Condition Message="You must have Administrative rights on this machine to install [ProductName].">
      <![CDATA[Not VersionNT64 OR (VersionNT64 AND Privileged)]]>
    </Condition>
    -->
    <!-- 
    This disallows non-admin installations 
    can be overriden using 
        msiexec /i Phreeqci.msi ALLOW_PER_USER=1
    on the command line
      <![CDATA[Privileged OR (Installed OR ALLOW_PER_USER)]]>
    -->
    <Condition Message="An administrator must approve or install [ProductName].">
      <![CDATA[Privileged OR Installed]]>
    </Condition>

    <Media Id="1" Cabinet="$(var.Cabinet)" EmbedCab="yes" />

    <!-- directory structure -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- program files -->
      <Directory Id="ProgramFilesFolder">
          <Directory Id="APPLICATIONFOLDER" Name="$(var.FullName)">
            <Directory Id="bin" Name="bin"/>
            <Directory Id="doc" Name="doc"/>
            <Directory Id="examples" Name="examples"/>
            <Directory Id="database" Name="database"/>            
          </Directory>
			</Directory>
      <!-- start menu -->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="$(var.FullName)"/>
      </Directory>
    </Directory>

    <!-- RELEASE.TXT -->
    <DirectoryRef Id="APPLICATIONFOLDER">
      <Component Id="RELEASE.TXT" Guid="*">
        <File Id="RELEASE.TXT" Name="RELEASE.TXT" Source="..\phreeqc3\doc\RELEASE.TXT" />
      </Component>
    </DirectoryRef>

    <!-- NOTICE.TXT -->
    <DirectoryRef Id="APPLICATIONFOLDER">
      <Component Id="NOTICE.TXT" Guid="*">
        <File Id="NOTICE.TXT" Name="NOTICE.TXT" Source="..\phreeqc3\doc\NOTICE.TXT" />
      </Component>
    </DirectoryRef>

    <!-- README.TXT -->
    <DirectoryRef Id="APPLICATIONFOLDER">
      <Component Id="README.TXT" Guid="*">
        <File Id="README.TXT" Name="README.TXT" Source="..\phreeqc3\doc\README.PhreeqcI.TXT" />
      </Component>
    </DirectoryRef>

    <!-- phreeqci.exe -->
    <DirectoryRef Id="bin">
      <Component Id="phreeqci.exe" Guid="*">
        <File Id="phreeqci.exe" Name="phreeqci.exe" Source="..\CLRRelease\phreeqci.exe" KeyPath="yes" />
        <!-- Phreeqci.Input -->
        <ProgId Id="Phreeqci.Input" Description="Phreeqci Input File" Icon="phreeqci.exe" IconIndex="1">
          <Extension Id="pqi">
            <Verb Id="open" TargetFile="phreeqci.exe" Argument="/dde"/>
            <Verb Id="print" TargetFile="phreeqci.exe" Argument="/dde"/>
            <Verb Id="printto" TargetFile="phreeqci.exe" Argument="/dde"/>
          </Extension>
        </ProgId>
        <RegistryValue Root="HKCR" Key=".pqi\ShellNew" Name="NullFile" Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Phreeqci.Input\shell\open\ddeexec" Value="[\[]open(&quot;%1&quot;)[\]]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Phreeqci.Input\shell\print\ddeexec" Value="[\[]print(&quot;%1&quot;)[\]]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Phreeqci.Input\shell\printto\ddeexec" Value="[\[]printto(&quot;%1&quot;,&quot;%2&quot;,&quot;%3&quot;,&quot;%4&quot;)[\]]" Type="string" Action="write" />
        <!-- Phreeqci.Output -->
        <ProgId Id="Phreeqci.Output" Description="Phreeqci Output File" Icon="phreeqci.exe" IconIndex="2">
          <Extension Id="pqo">
            <Verb Id="open" TargetFile="phreeqci.exe" Argument="/dde"/>
            <Verb Id="print" TargetFile="phreeqci.exe" Argument="/dde"/>
            <Verb Id="printto" TargetFile="phreeqci.exe" Argument="/dde"/>
          </Extension>
        </ProgId>
        <RegistryValue Root="HKCR" Key="Phreeqci.Output\shell\open\ddeexec" Value="[\[]open(&quot;%1&quot;)[\]]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Phreeqci.Output\shell\print\ddeexec" Value="[\[]print(&quot;%1&quot;)[\]]" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="Phreeqci.Output\shell\printto\ddeexec" Value="[\[]printto(&quot;%1&quot;,&quot;%2&quot;,&quot;%3&quot;,&quot;%4&quot;)[\]]" Type="string" Action="write" />
      </Component>
    </DirectoryRef>

    <!-- phreeqci.exe.manifest -->
    <DirectoryRef Id="bin">
      <Component Id="phreeqci.exe.manifest" Guid="*">
        <File Id="phreeqci.exe.manifest" Name="phreeqci.exe.manifest" Source="..\CLRRelease\phreeqci.exe.manifest" />
      </Component>
    </DirectoryRef>

    <!-- phreeqci.eng -->
    <DirectoryRef Id="bin">
      <Component Id="phreeqci.eng" Guid="*">
        <File Id="phreeqci.eng" Name="phreeqci.eng" Source="..\phreeqci.eng" />
      </Component>
    </DirectoryRef>

    <!-- ZedGraph.dll -->
    <DirectoryRef Id="bin">
      <Component Id="ZedGraph.dll" Guid="79CFAD0D-46CE-4053-8679-85918182F74E">
        <File Id="ZedGraph.dll" Name="ZedGraph.dll" Source="..\phreeqc3\src\ZedGraph.dll" KeyPath="yes" Assembly=".net"/>
      </Component>
    </DirectoryRef>

    <!-- phreeqci.exe.config -->
    <DirectoryRef Id="bin">
      <Component Id="phreeqci.exe.config" Guid="*">
        <File Id="phreeqci.exe.config" Name="phreeqci.exe.config" Source="..\CLRRelease\phreeqci.exe.config" />
      </Component>
    </DirectoryRef>

    <!-- Shortcuts -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="*">
        <Shortcut Id="ApplicationStartMenuShortcut"
                  Name="$(var.FullName)"
                  Target="[bin]phreeqci.exe"/>
        <RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
        <RegistryValue Root="HKCU" Key="Software\USGS\$(var.Name)-$(var.Build)" Name="installed" Type="integer" Value="1" KeyPath="yes"/>
        <Shortcut Id="fs_031_02.chm.lnk"
                  Name="PhreeqcI Version 2 Fact Sheet"
                  Target="[bin]fs-031-02.chm"/>
        <Shortcut Id="RELEASE.TXT.lnk"
                  Name="RELEASE.TXT"
                  Target="[APPLICATIONFOLDER]RELEASE.TXT"/>
        <Shortcut Id="phreeqci.chm.lnk"
                  Name="Description of Input and Examples for PHREEQC (Version 3)"
                  Target="[bin]phreeqci.chm"/>
      </Component>
    </DirectoryRef>

    <!-- PDF Shortcuts -->
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="PDFShortcuts" Guid="*">
        <Shortcut Id="Phreeqc_2_1999_manual.pdf.lnk"
                  Name="User's Guide to PHREEQC (Version 2 PDF)"
                  Target="[doc]Phreeqc_2_1999_manual.pdf"/>
        <Shortcut Id="wrir02_4172.pdf.lnk"
                  Name="WRIR 02-4172 (PDF)"
                  Target="[doc]wrir02-4172.pdf"/>
        <RegistryValue Root="HKCU" Key="Software\USGS\$(var.Name)-$(var.Build)" Name="pdfs" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!-- Private Assemblies -->
    <!-- NOT CURRENTLY ENABLED
    <DirectoryRef Id="bin">
      <Directory Id="CRT.CU" Name="Microsoft.VC80.CRT">
        <Component Id="CRT.CU" Guid="*">
          <Condition><![CDATA[ALLUSERS="" OR ALLUSERS<>1]]></Condition>
          <File Id="Microsoft.VC80.CRT.manifest" KeyPath="yes" Name="Microsoft.VC80.CRT.manifest" Source="$(env.DEV_PRIVATE_ASSEM_DIR)\x86\Microsoft.VC80.CRT\Microsoft.VC80.CRT.manifest" />
          <File Id="msvcm80.dll" Name="msvcm80.dll" Source="$(env.DEV_PRIVATE_ASSEM_DIR)\x86\Microsoft.VC80.CRT\msvcm80.dll"/>
          <File Id="msvcp80.dll" Name="msvcp80.dll" Source="$(env.DEV_PRIVATE_ASSEM_DIR)\x86\Microsoft.VC80.CRT\msvcp80.dll"/>
          <File Id="msvcr80.dll" Name="msvcr80.dll" Source="$(env.DEV_PRIVATE_ASSEM_DIR)\x86\Microsoft.VC80.CRT\msvcr80.dll"/>
        </Component>
      </Directory>
      <Directory Id="MFC.CU" Name="Microsoft.VC80.MFC">
        <Component Id="MFC.CU" Guid="*">
          <Condition><![CDATA[ALLUSERS="" OR ALLUSERS<>1]]></Condition>
          <File Id="Microsoft.VC80.MFC.manifest" KeyPath="yes" Name="Microsoft.VC80.MFC.manifest" Source="$(env.DEV_PRIVATE_ASSEM_DIR)\x86\Microsoft.VC80.MFC\Microsoft.VC80.MFC.manifest" />
          <File Id="mfcm80u.dll" Name="mfcm80u.dll" Source="$(env.DEV_PRIVATE_ASSEM_DIR)\x86\Microsoft.VC80.MFC\mfcm80u.dll"/>
          <File Id="mfcm80.dll" Name="mfcm80.dll" Source="$(env.DEV_PRIVATE_ASSEM_DIR)\x86\Microsoft.VC80.MFC\mfcm80.dll"/>
          <File Id="mfc80u.dll" Name="mfc80u.dll" Source="$(env.DEV_PRIVATE_ASSEM_DIR)\x86\Microsoft.VC80.MFC\mfc80u.dll"/>
          <File Id="mfc80.dll" Name="mfc80.dll" Source="$(env.DEV_PRIVATE_ASSEM_DIR)\x86\Microsoft.VC80.MFC\mfc80.dll"/>
        </Component>
      </Directory>
    </DirectoryRef>
    NOT CURRENTLY ENABLED -->

    <!-- Private mshflxgd.ocx -->
    <!-- NOT CURRENTLY ENABLED    
    <DirectoryRef Id="bin">
      <Directory Id="System.CU" Name="System">
        <Component Id="MSHFLXGD.OCX.CU" Guid="*">
          <Condition><![CDATA[ALLUSERS="" OR ALLUSERS<>1]]></Condition>
          <File Id="MSHFLXGD.OCX" KeyPath="yes" Name="MSHFLXGD.OCX" Source="c:\windows\syswow64\MSHFLXGD.OCX">
            <Class Id="{951738D1-D2B7-11D0-B292-00A0C908FB55}" Context="InprocServer32" Description="MS Hierarchical FlexGrid Bands Property Page Object" ThreadingModel="apartment" />
            <Class Id="{AB36A920-23A5-11D0-B351-00A0C9055D8E}" Context="InprocServer32" Description="MS Hierarchical FlexGrid General Property Page Object" ThreadingModel="apartment" />
            <Class Id="{AB36A921-805A-11CF-91F7-C2863C385E30}" Context="InprocServer32" Description="MS Hierarchical FlexGrid Style Property Page Object" ThreadingModel="apartment" />
            <TypeLib Id="{0ECD9B60-23AA-11D0-B351-00A0C9055D8E}" Control="yes" Description="Microsoft Hierarchical FlexGrid Control 6.0 (SP4) (OLEDB)" HelpDirectory="System.CU" Language="0" MajorVersion="6" MinorVersion="0">
              <Class Id="{0ECD9B64-23AA-11D0-B351-00A0C9055D8E}" Context="InprocServer32" Description="Microsoft Hierarchical FlexGrid Control 6.0 (SP4) (OLEDB)" ThreadingModel="apartment" Version="6.0" Programmable="yes" SafeForScripting="yes" SafeForInitializing="yes" Control="yes">
                <ProgId Id="MSHierarchicalFlexGridLib.MSHFlexGrid.6" Description="Microsoft Hierarchical FlexGrid Control 6.0 (SP4) (OLEDB)">
                  <ProgId Id="MSHierarchicalFlexGridLib.MSHFlexGrid" Description="Microsoft Hierarchical FlexGrid Control 6.0 (SP4) (OLEDB)" />
                </ProgId>
              </Class>
              <Interface Id="{0000050E-0000-0010-8000-00AA006D2EA4}" Name="IRecordset" ProxyStubClassId="{00020424-0000-0000-C000-000000000046}" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}" />
              <Interface Id="{0ECD9B62-23AA-11D0-B351-00A0C9055D8E}" Name="IMSHFlexGrid" ProxyStubClassId="{00020424-0000-0000-C000-000000000046}" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}" />
              <Interface Id="{0ECD9B63-23AA-11D0-B351-00A0C9055D8E}" Name="DMSHFlexGridEvents" ProxyStubClassId="{00020420-0000-0000-C000-000000000046}" ProxyStubClassId32="{00020420-0000-0000-C000-000000000046}" />
              <Interface Id="{2334D2B1-713E-11CF-8AE5-00AA00C00905}" Name="IVBDataObject" ProxyStubClassId="{00020424-0000-0000-C000-000000000046}" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}" />
              <Interface Id="{2334D2B3-713E-11CF-8AE5-00AA00C00905}" Name="IVBDataObjectFiles" ProxyStubClassId="{00020424-0000-0000-C000-000000000046}" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}" />
            </TypeLib>
          </File>
          <RegistryValue Root="HKCR" Key="CLSID\{0ECD9B64-23AA-11D0-B351-00A0C9055D8E}\Implemented Categories\{0DE86A52-2BAA-11CF-A229-00AA003D7352}" Value="" Type="string" Action="write" />
          <RegistryValue Root="HKCR" Key="CLSID\{0ECD9B64-23AA-11D0-B351-00A0C9055D8E}\Implemented Categories\{0DE86A53-2BAA-11CF-A229-00AA003D7352}" Value="" Type="string" Action="write" />
          <RegistryValue Root="HKCR" Key="CLSID\{0ECD9B64-23AA-11D0-B351-00A0C9055D8E}\Implemented Categories\{0DE86A57-2BAA-11CF-A229-00AA003D7352}" Value="" Type="string" Action="write" />
          <RegistryValue Root="HKCR" Key="CLSID\{0ECD9B64-23AA-11D0-B351-00A0C9055D8E}\Implemented Categories\{40FC6ED4-2438-11CF-A3DB-080036F12502}" Value="" Type="string" Action="write" />
          <RegistryValue Root="HKCR" Key="CLSID\{0ECD9B64-23AA-11D0-B351-00A0C9055D8E}\Implemented Categories\{40FC6ED5-2438-11CF-A3DB-080036F12502}" Value="" Type="string" Action="write" />
          <RegistryValue Root="HKCR" Key="CLSID\{0ECD9B64-23AA-11D0-B351-00A0C9055D8E}\MiscStatus\1" Value="131473" Type="string" Action="write" />
          <RegistryValue Root="HKCR" Key="CLSID\{0ECD9B64-23AA-11D0-B351-00A0C9055D8E}\MiscStatus" Value="0" Type="string" Action="write" />
          <RegistryValue Root="HKCR" Key="CLSID\{0ECD9B64-23AA-11D0-B351-00A0C9055D8E}\ToolboxBitmap32" Value="[!MSHFLXGD.OCX], 1" Type="string" Action="write" />
        </Component>
      </Directory>
    </DirectoryRef>
    NOT CURRENTLY ENABLED -->

    <!-- phreeqci.exe -->
    <DirectoryRef Id="bin">
        <Component Id="CHMFiles" Guid="A501AAFC-C80B-40d2-A112-FB8D634F236F">
        <File Id="phreeqci.chm" Name="phreeqci.chm" Source="..\phreeqc3\HTMLversion\phreeqc3.chm" />
        <File Id="fs03102.chm" Name="fs-031-02.chm" Source="..\fs-031-02\fs-031-02.chm" />
      </Component>
    </DirectoryRef>

    <!-- Databases -->
    <DirectoryRef Id="database">
      <Component Id="phreeqc.dat" Guid="*">
        <File Id="phreeqc.dat" Name="phreeqc.dat" Source="..\phreeqc3\database\phreeqc.dat" />
      </Component>
      <Component Id="AddDatabaseFiles" Guid="12E1A0AF-ADDD-4a15-B3B6-D927D0759F05">
        <File Id="Amm.dat" Name="Amm.dat" Source="..\phreeqc3\database\Amm.dat" />
        <File Id="ColdChem.dat" Name="ColdChem.dat" Source="..\phreeqc3\database\ColdChem.dat" />
        <File Id="core10.dat" Name="core10.dat" Source="..\phreeqc3\database\core10.dat" />
        <File Id="frezchem.dat" Name="frezchem.dat" Source="..\phreeqc3\database\frezchem.dat" />
        <File Id="iso.dat" Name="iso.dat" Source="..\phreeqc3\database\iso.dat" />
        <File Id="llnl.dat" Name="llnl.dat" Source="..\phreeqc3\database\llnl.dat" />
        <File Id="minteq.dat" Name="minteq.dat" Source="..\phreeqc3\database\minteq.dat" />
        <File Id="minteq.v4.dat" Name="minteq.v4.dat" Source="..\phreeqc3\database\minteq.v4.dat" />
        <File Id="pitzer.dat" Name="pitzer.dat" Source="..\phreeqc3\database\pitzer.dat" />
        <File Id="sit.dat" Name="sit.dat" Source="..\phreeqc3\database\sit.dat" />
        <File Id="Tipping_Hurley.dat" Name="Tipping_Hurley.dat" Source="..\phreeqc3\database\Tipping_Hurley.dat" />
        <File Id="wateq4f.dat" Name="wateq4f.dat" Source="..\phreeqc3\database\wateq4f.dat" />
      </Component>
    </DirectoryRef>

    <!-- PDFs -->
    <DirectoryRef Id="doc">
      <Component Id="pdfs" Guid="53F418B0-2D60-48bf-B815-02E8298E26D2">
        <File Id="fs_031_02.pdf" Name="fs-031-02.pdf" Source="..\fs-031-02\fs-031-02.pdf" />
        <File Id="Phreeqc_2_1999_manual.pdf" Name="Phreeqc_2_1999_manual.pdf" Source="..\phreeqc3\doc\Phreeqc_2_1999_manual.pdf" />
        <!--
        <File Id="Phreeqc_3_2013_manual.pdf" Name="Phreeqc_3_2013_manual.pdf" Source="..\phreeqc3\doc\Phreeqc_3_2013_manual.pdf" />
        -->
        <File Id="wrir02_4172.pdf" Name="wrir02-4172.pdf" Source="..\phreeqc3\doc\wrir02-4172.pdf" />
      </Component>
    </DirectoryRef>
    
    <!-- Examples -->
    <DirectoryRef Id="examples">
      <Component Id="examples" Guid="C5488E67-CABC-4380-B51F-4ACB02F74FC2">
        <File Id="ex1.pqi" Name="ex1.pqi" Source="..\phreeqc3\examples\ex1" />
        <File Id="ex2.pqi" Name="ex2.pqi" Source="..\phreeqc3\examples\ex2" />
        <File Id="ex2b.pqi" Name="ex2b.pqi" Source="..\phreeqc3\examples\ex2b" />
        <File Id="ex2b.tsv" Name="ex2b.tsv" Source="..\phreeqc3\examples\ex2b.tsv" />
        <File Id="ex3.pqi" Name="ex3.pqi" Source="..\phreeqc3\examples\ex3" />
        <File Id="ex4.pqi" Name="ex4.pqi" Source="..\phreeqc3\examples\ex4" />
        <File Id="ex5.pqi" Name="ex5.pqi" Source="..\phreeqc3\examples\ex5" />
        <File Id="ex6.pqi" Name="ex6.pqi" Source="..\phreeqc3\examples\ex6" />
        <File Id="ex7.pqi" Name="ex7.pqi" Source="..\phreeqc3\examples\ex7" />
        <File Id="ex8.pqi" Name="ex8.pqi" Source="..\phreeqc3\examples\ex8" />
        <File Id="ex9.pqi" Name="ex9.pqi" Source="..\phreeqc3\examples\ex9" />
        <File Id="ex10.pqi" Name="ex10.pqi" Source="..\phreeqc3\examples\ex10" />
        <File Id="ex11.pqi" Name="ex11.pqi" Source="..\phreeqc3\examples\ex11" />
        <File Id="ex12.pqi" Name="ex12.pqi" Source="..\phreeqc3\examples\ex12" />
        <File Id="ex12a.pqi" Name="ex12a.pqi" Source="..\phreeqc3\examples\ex12a" />
        <File Id="ex13a.pqi" Name="ex13a.pqi" Source="..\phreeqc3\examples\ex13a" />
        <File Id="ex13ac.pqi" Name="ex13ac.pqi" Source="..\phreeqc3\examples\ex13ac" />
        <File Id="ex13b.pqi" Name="ex13b.pqi" Source="..\phreeqc3\examples\ex13b" />
        <File Id="ex13c.pqi" Name="ex13c.pqi" Source="..\phreeqc3\examples\ex13c" />
        <File Id="ex14.pqi" Name="ex14.pqi" Source="..\phreeqc3\examples\ex14" />
        <File Id="ex15.pqi" Name="ex15.pqi" Source="..\phreeqc3\examples\ex15" />
        <File Id="ex15.dat" Name="ex15.dat" Source="..\phreeqc3\examples\ex15.dat" />
        <File Id="ex15a.pqi" Name="ex15a.pqi" Source="..\phreeqc3\examples\ex15a" />
        <File Id="ex15b.pqi" Name="ex15b.pqi" Source="..\phreeqc3\examples\ex15b" />
        <File Id="ex16.pqi" Name="ex16.pqi" Source="..\phreeqc3\examples\ex16" />
        <File Id="ex17.pqi" Name="ex17.pqi" Source="..\phreeqc3\examples\ex17" />
        <File Id="ex17b.pqi" Name="ex17b.pqi" Source="..\phreeqc3\examples\ex17b" />
        <File Id="ex18.pqi" Name="ex18.pqi" Source="..\phreeqc3\examples\ex18" />
        <File Id="ex19.pqi" Name="ex19.pqi" Source="..\phreeqc3\examples\ex19" />
        <File Id="ex19_meas.tsv" Name="ex19_meas.tsv" Source="..\phreeqc3\examples\ex19_meas.tsv" />
        <File Id="ex19b.pqi" Name="ex19b.pqi" Source="..\phreeqc3\examples\ex19b" />
        <File Id="ex20a.pqi" Name="ex20a.pqi" Source="..\phreeqc3\examples\ex20a" />
        <File Id="ex20b.pqi" Name="ex20b.pqi" Source="..\phreeqc3\examples\ex20b" />
        <File Id="ex20_c14.tsv" Name="ex20-c14.tsv" Source="..\phreeqc3\examples\ex20-c14.tsv" />
        <File Id="ex20_c13.tsv" Name="ex20-c13.tsv" Source="..\phreeqc3\examples\ex20-c13.tsv" />
        <File Id="ex21.pqi" Name="ex21.pqi" Source="..\phreeqc3\examples\ex21" />
        <File Id="ex21_Cl_tr_rad.tsv" Name="ex21_Cl_tr_rad.tsv" Source="..\phreeqc3\examples\ex21_Cl_tr_rad.tsv" />
        <File Id="ex21_Cs_rad.tsv" Name="ex21_Cs_rad.tsv" Source="..\phreeqc3\examples\ex21_Cs_rad.tsv" />
        <File Id="ex21_HTO_rad.tsv" Name="ex21_HTO_rad.tsv" Source="..\phreeqc3\examples\ex21_HTO_rad.tsv" />
        <File Id="ex21_Na_tr_rad.tsv" Name="ex21_Na_tr_rad.tsv" Source="..\phreeqc3\examples\ex21_Na_tr_rad.tsv" />
        <File Id="ex22.pqi" Name="ex22.pqi" Source="..\phreeqc3\examples\ex22" />
        <File Id="CO2.tsv" Name="CO2.tsv" Source="..\phreeqc3\examples\CO2.tsv" />
      </Component>
    </DirectoryRef>

    <!-- merge modules -->
    <!-- 
    ============   
    oleaut32.msm
    ============   
      asycfilt.dll  2.40.4275.1
      oleaut32.dll  2.40.4275.1
      olepro32.dll  5.0.4275.1
      stdole2.tlb   2.40.4275.1
      
    ==========
    comcat.msm
    ==========
      comcat.dll    4.71.1460.1
      
    ============
    mshflxgd.msm
    ============
      mshflxgd.ocx  6.0.88.4

    ============
    SRCDB2PG.msm
    ============
      SRCDB2PG.ocx  3.0.0.0
    -->
    <DirectoryRef Id="APPLICATIONFOLDER">
      <!-- CRT/MFC -->
      <Merge Id="CRT" Language="1033" SourceFile="$(env.DEV_MERGE_DIR)\microsoft_vc80_crt_x86.msm" DiskId="1" />
      <Merge Id="CRT Policy" Language="1033" SourceFile="$(env.DEV_MERGE_DIR)\policy_8_0_Microsoft_VC80_CRT_x86.msm" DiskId="1" />
      <Merge Id='MFC' Language='0' SourceFile='$(env.DEV_MERGE_DIR)\Microsoft_VC80_MFC_x86.msm' DiskId='1' />
      <Merge Id='MFC Policy' Language='0' SourceFile='$(env.DEV_MERGE_DIR)\policy_8_0_Microsoft_VC80_MFC_x86.msm' DiskId='1' />
      <!-- mshflxgd.ocx -->
      <Merge Id="MSHFLXGD" Language="1033" SourceFile="msm\mshflxgd.msm" DiskId="1" />
      <Merge Id="COMCAT" Language="1033" SourceFile="msm\comcat.msm" DiskId="1" />
      <Merge Id="OLEAUT32" Language="1033" SourceFile="msm\oleaut32.msm" DiskId="1" />
      <!-- SRCDB2PG.ocx -->
      <Merge Id="SRCDB2PG" Language="1033" SourceFile="msm\SRCDB2PG.msm" DiskId="1" />
    </DirectoryRef>

    <!--
    reqd to merge MSHFLXGD/COMCAT/OLEAUT32
    ie error LGHT0204: ICE03: Table: Class Column: CLSID Missing specifications
    in _Validation Table (or Old Database)
    -->
    <EnsureTable Id="Class" />
    <EnsureTable Id="Extension" />
    <EnsureTable Id="MIME" />

    <Feature Id="ProgramFiles" Title="Program Files" Description="This component includes the main executable and the required database file phreeqc.dat." AllowAdvertise="no" Level="1" Display="expand">
      <ComponentRef Id="RELEASE.TXT" />
      <ComponentRef Id="README.TXT" />
      <ComponentRef Id="NOTICE.TXT" />
      <ComponentRef Id="phreeqci.exe" />
      <ComponentRef Id="phreeqci.exe.manifest" />
      <ComponentRef Id="phreeqci.eng" />
      <ComponentRef Id="ZedGraph.dll" />
      <ComponentRef Id="phreeqci.exe.config" />
      <ComponentRef Id="phreeqc.dat" />      
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="CHMFiles" />
      <!-- NOT CURRENTLY ENABLED    
      <ComponentRef Id="CRT.CU" />
      <ComponentRef Id="MFC.CU" />
      <ComponentRef Id="MSHFLXGD.OCX.CU" />
      NOT CURRENTLY ENABLED -->
      <Feature Id="LocalMachine" Display="hidden" Level="0">
        <Condition Level="1">ALLUSERS=1</Condition>
        <MergeRef Id='CRT' />
        <MergeRef Id='CRT Policy' />
        <MergeRef Id='MFC'/>
        <MergeRef Id='MFC Policy' />
        <MergeRef Id='MSHFLXGD' />
        <MergeRef Id='COMCAT' />
        <MergeRef Id='OLEAUT32' />
        <MergeRef Id='SRCDB2PG' />
      </Feature>
      <Feature Id="AddHelpFiles" Title="Additional Help Files" Description="This component includes the manuals in Portable Document Format (PDF)." AllowAdvertise="no" Level="1">
        <ComponentRef Id="pdfs" />
        <ComponentRef Id="PDFShortcuts" />
      </Feature>
      <Feature Id="AddDatabaseFiles" Title="Additional Database Files" Description="This component includes the wateq4f.dat, minteq.dat, llnl.dat and iso.dat databases." AllowAdvertise="no" Level="1">
        <ComponentRef Id="AddDatabaseFiles" />
      </Feature>
      <Feature Id="Examples" Title="Example Files" Description="This component includes example input files." AllowAdvertise="no" Level="1">
        <ComponentRef Id="examples" />
      </Feature>
    </Feature>

    <!-- gui -->
    <UIRef Id="WixUI_Advanced"/>
    <Property Id="ApplicationFolderName" Value="$(var.FullName)" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />

    <!-- override default install location -->
    <CustomAction Id="WixSetDefaultPerMachineFolderOverride" Property="WixPerMachineFolder" Value="[ProgramFilesFolder]USGS\[ApplicationFolderName]" Execute="immediate" />
    <InstallExecuteSequence>
      <Custom Action="WixSetDefaultPerMachineFolderOverride" After="WixSetDefaultPerMachineFolder" />
    </InstallExecuteSequence>
    <InstallUISequence>
      <Custom Action="WixSetDefaultPerMachineFolderOverride" After="WixSetDefaultPerMachineFolder" />
    </InstallUISequence>
    
    <!--
    FIX: This fixes a bug within WixUI_Advanced that caused the 'Back' button from
    the FeaturesDlg to goto the InstallScopeDlg instead of the InstallDirDlg
    -->
    <UI>
      <Publish Dialog="FeaturesDlg" Control="Back" Event="NewDialog" Value="InstallDirDlg" Order="2">NOT Installed</Publish>
    </UI>
    <!-- TEST Override -->


    <Property Id="ALLUSERS" Value="1" />

    <!--
    Disallow per-user installs as admin
    <WixVariable Id="WixUISupportPerUser" Value="NOT Privileged" Overridable="no" />
    -->

    <!--
    Disallow per-user installs as admin; can be overriden using
    msiexec /i Phreeqci.msi ALLOW_PER_USER=1
    <WixVariable Id="WixUISupportPerUser" Value="NOT Privileged AND (Installed OR ALLOW_PER_USER)" Overridable="no" />
    <WixVariable Id="WixUISupportPerUser" Value="NOT Privileged" Overridable="no" />
    <WixVariable Id="WixUISupportPerUser" Value="NOT Privileged OR (Installed OR ALLOW_PER_USER)" Overridable="no" />
    <WixVariable Id="WixUISupportPerUser" Value="NOT Privileged" Overridable="no" />
    -->
    <WixVariable Id="WixUISupportPerUser" Value="0" Overridable="no" />

    <!-- 
    This checks for minimum requirements for mshflxgd.ocx
    Internet Explorer 5.5 installs the following OLE dlls:
    asycfilt.dll    2.40.4275.1
    comcat.dll      NT=4.71.1441.1 9x=5.0.1601.1
    oleaut32.dll    2.40.4275.1
    olepro32.dll    5.0.4277.1
    stdole2.tlb     2.40.4275.1
    see http://support.microsoft.com/dllhelp/?dlltype=prod&l=55&pid=2072&vid=37015&S=0
    -->
    <Property Id="IE5_5">
      <DirectorySearch Id="mshtml" Path="[SystemFolder]" Depth="0">
        <FileSearch Id="mshtml" Name="mshtml.dll" MinVersion="5.5.0.0" />
      </DirectorySearch>
    </Property>

    <!--
    This overrides the default License agreement
    -->
    <WixVariable Id="WixUILicenseRtf" Value="License.rtf" />

    <!-- add database keyword to pqi files -->
    <CustomActionRef Id="SchedXmlFileSRC"></CustomActionRef>

  </Product>
</Wix>
